* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
}

:root {
    --nav-bg-color: #1b2838;
    --text-color: #fff;
    --text-color-hover-button: #0094ff;
    --main-bg-color: #0E131E;
}

.content {
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    max-width: 1440px;
    margin: 0 auto;
}

.content__nav {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.content__items {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.content__items .content__item--list {
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.3s ease all;
    padding: 20px 0;
}

.content__items .content__item--list:hover {
    color: var(--text-color-hover-button);
    border-bottom: 2px solid;
}

.content__config {
    display: flex;
    align-items: center;
    gap: 1rem;
    cursor: pointer;
}

#content__image {
    background: rgba(0 0 0 / 0.7) url(../img/RDO_Standalone_EGS_LandscapeProductImage_2560x1440_Deliverable-2560x1440-45e6e019bf7e0a5e13756d144fc9ba1d\ 1.png);
    background-blend-mode: darken;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 363px;
    max-width: 1440px;
    margin: 0 auto;
}

.content__text {
    margin-left: 15rem;
    padding-top: 3rem;
    line-height: 1;
}

.content--pharag {
    color: var(--text-color);
    margin-bottom: 1.5rem;
    margin-top: 1rem;
    font-weight: 500;
}

.btn > .btn-1 {
    border: none;
    padding: 14px 60px;
    background-color: var(--text-color-hover-button);
    color: var(--text-color);
    border-radius: 4px;
    text-transform: uppercase;
    cursor: pointer;
}

.content__plays {
    background-color: var(--main-bg-color);
    width: auto;
    height: 900px;
    max-width: 1440px;
    margin: 0 auto;
}

.content__dasheds {
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.content__dasheds span {
    display: block;
    width: 65px;
    height: 4px;
    background-color: var(--text-color);
    border-radius: 3px;
    margin-top: 1rem;
    cursor: pointer;
}

.content__dasheds .active {
    background-color: var(--text-color-hover-button);
}

.content__items2 {
    display: flex;
    justify-content: center;
    margin-top: 6rem;
    gap: 2rem;
}

.content__items2 {
    background-color: var(--nav-bg-color);
    padding: 20px 0;
    margin: 6rem 17rem 0;
    border-radius: 4px;
    width: fit;
}

.content__item--list2 {
    text-transform: uppercase;
    color: var(--text-color);
    padding: 20px 0;
}

.content__item--list2:hover {
    color: var(--text-color-hover-button);
    border-bottom: 2px solid;
}

.content__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--nav-bg-color);
    margin: 2rem 17rem;
    padding: 8px 30px;
    border-radius: 4px;
}

.content__search--text {
    color: var(--text-color);
    text-transform: uppercase;
    font-weight: 500;
}

.content__img > img {
    cursor: pointer;
}

.content__options {
    margin-top: 4rem;
}

.content__card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.content__cards {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content__cards > img:last-child {
    position: absolute;
    bottom: 3rem;
}

.footer__steam {
    background-color: var(--nav-bg-color);
    display: flex;
    justify-content: center;
    padding: 10px 0;
    max-width: 1440px;
    margin: 0 auto;
}